<h1>{{ "HELLO" | translate }}</h1>
<!-- <h1>{{ $localize`HELLO` }}</h1> -->
<button (click)="changeLanguage('messages.zh-Hant')">zh-tw</button>
<button (click)="changeLanguage('messages.ja-JP')">jp</button>
<button (click)="changeLanguage('messages.en-US')">en-us</button>
<!-- <button (click)="changeLanguage('zh-tw')">zh-tw</button>
<button (click)="changeLanguage('jp')">jp</button>
<button (click)="changeLanguage('en-us')">en-us</button> -->
<div [translate]="'HELLO'"></div>
<div translate>NAME</div>

<div>{{ helloLocalize }}</div>
<div>{{ nameLocalize }}</div>
